<!doctype html>
<html ng-app="githubNotifierApp" ng-csp>
  <head>
    <title>Getting Started</title>
    <link rel="stylesheet" type="text/css" href="/styles/global.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/angular/angular-csp.css" />

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/app.js"></script>
    <script src="/controllers/main.js"></script>
    <script src="/controllers/index.js"></script>
    <script src="/controllers/login.js"></script>
    <script src="/controllers/repos.js"></script>
    <script src="/controllers/notifications.js"></script>

    <script src="/services/github.js"></script>
    <script src="/services/storage.js"></script>
    <base href="/" />
  </head>
  <body ng-controller="MainCtrl">
    <header>
      <h3>Github Notifier</h3>
    </header>
    <div class="container" ng-view></div>
    <footer>
      <a ng-click="navigateTo('notifications')">Notifications</a>
      <a ng-click="navigateTo('repos')" class="btn">Settings</a>
    </footer>
  </body>
</html>
